clearml     
click 
huggingface-hub 
ipykernel        
ipython                   
joblib
jupyter_client         
jupyter_core         
kagglehub
matplotlib
numpy==2.3.2
optuna
optuna-dashboard
polars
pyarrow
PyYAML        
scipy==1.16.1
torch==2.8.0
tqdm
hydra-core
