clearml     
click 
huggingface-hub 
ipykernel        
ipython                   
joblib
jupyter_client         
jupyter_core         
kagglehub
matplotlib
numpy
optuna
optuna-dashboard
polars
pyarrow
PyYAML        
scipy
torch
tqdm
hydra-core
markupsafe==2.1.5
